/*
    Main stylesheet for "The Gallery"
    Author: Debojyoti Ghosh
    Date: Oct 27, 2016
*/

@font-face {
    font-family: "Comfortaa Light";
    src: url('../fonts/Raleway-Light.ttf');
}
@font-face {
    font-family: "Comfortaa Regular";
    src: url('../fonts/Comfortaa-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Comfortaa Light", arial, sans-serif;
}


/* Mobile container */

.gallery-wrapper {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: #f3f3f3;

    border: none;
    overflow: hidden;
    float: left;
}


/* Button controls */

.button-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
.button-wrapper .button {
    width: 50%;
    height: 100%;

    color: #ccc;
    line-height: 40px;
    text-align: center;
    background-color: #666;

    display: block;
    cursor: pointer;
    float: left;
}
.button-wrapper .button:first-of-type {
    border-right: 1px solid #555;
}


/* Main thumbnail section */

.thumbnail-wrapper {
    position: relative;
    margin: 100px calc(50% - 150px) 0 calc(50% - 150px);
    width: 300px;
    height: 250px;

    float: left;
}

.thumbnail {
    position: absolute;
    left: 0;
    width: 300px;
    height: 250px;

    /*box-shadow: 0 0 0 0 #aaa;*/
    /*border-radius: 2px;*/
    transition: all ease-in-out .4s;
}

.thumbnail.stack-base {
    align-items: center;
    justify-content: center;
    display: flex;
}
.thumbnail.stack-bottom {
    background-color: #ccc;
    transform: rotate(30deg);
}
.thumbnail.stack-intermediate-lower {
    background-color: #ddd;
    transform: rotate(20deg);
}
.thumbnail.stack-intermediate-upper {
    background-color: #eee;
    transform: rotate(10deg);
}
.thumbnail.stack-top {
    background-color: #fff;
    transform: rotate(0deg);
    /*box-shadow: 0 0 5px 0 #aaa;*/
}
.thumbnail.stack-out {
    background-color: #eee;
    transform: rotate(-20deg);
    left: calc(-130%);
}

.thumbnail h2 {
    padding: 10px;
    height: 40px;

    color: #555;
    font-size: 0.85em;
    font-family: "Comfortaa Regular";
    line-height: 20px;
}
.thumbnail .image {
    width: 100%;
    height: 170px;

    background-color: gray;
    background-size: cover;
    background-position: center;
}
.thumbnail .details {
    padding: 10px;
    width: 100%;
    height: 40px;

    color: #999;
    font-size: 0.75em;
    line-height: 20px;
}
.thumbnail .details .author {
    width: 70%;
    height: 100%;
    float: left;
}
.thumbnail .details .likes {
    width: 30%;
    height: 100%;
    text-align: right;
    float: right;
}

.thumbnail>* {
    opacity: 0;
    transition: opacity ease-in-out .5s;
}
.thumbnail.stack-top>* {
    opacity: 1;
}

/* Thumbnail shake animation - triggered when all thumbnail list is full */
.thumbnail.stack-top.shake {
  animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  /*perspective: 1000px;*/
}
@keyframes shake {
  10%, 90% {
    transform: translate(-1px, 0);
  }

  20%, 80% {
    transform: translate(2px, 0);
  }

  30%, 50%, 70% {
    transform: translate(-4px, 0);
  }

  40%, 60% {
    transform: translate(4px, 0);
  }
}
